.nav-bar
{
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-pages {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-pages a {
    font-weight: 300;
    text-decoration: none;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-pages a:hover {
    opacity: 0.9;
    text-decoration: underline rgba(188, 189, 255, 0.06);
    transform: scale(0.98);
}

.logo a{
    font-size: 20px;
    font-weight: 900;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link a{
    font-weight: 600;
    text-decoration: none;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-link a:hover{
    opacity: 0.9;
    text-decoration: underline rgba(188, 189, 255, 0.06);
    transform: scale(0.98);
}

.nav-link a.btn-reg{
    display: inline-block;
    background: var(--bg-gradient);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    margin-left: 20px;
    color: white;
    border-radius: 24px;
    padding: 7px 17px;
}

.nav-link .nav-username {
    font-weight: 700;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 0 0 0 2px #a78bfa;
    border-radius: 22px;
    padding: 5px 12px;
}
